html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  /* Strictly for Swiper.js */
  margin: 0;
  /* height: 100%; */
  /* overflow: hidden */
  padding: 0;

}

/* Very Important for Swiper - lets vertical scroll take up full screen */
#root{
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.swiper-button-next {
  transform: rotate(90deg);
  bottom: 10px;
  right: unset;
  top: unset;
  left: 50%;
  z-index: 1000;
}

.swiper-button-prev {
  transform: rotate(90deg);
  top: 15px;
  right: unset;
  bottom: unset;
  left: 50%;
  z-index: 1000;
}

.swiper-button-disabled {
  display: none;
}