// Colors
$add: #45b948;
$inCart: #e0ffe2;
$remove: #ff7d7d;
$red: #ff5757;
$primary-background: #C0B9DD;
$secondary-background: #fbfaff;
$primary-text: #f5f3ff;
$primary-text-dark: darken($primary-text, 30%);

// Spacing
$header-height: 80px;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
